/* ---------------- CommunityWrite, CommunityEdit ----------------*/
.community-form {
    width: 100%;
    padding-top: 60px;
    min-height: calc(100vh - 230px);
}

/* ---------------- CommunityView----------------*/
.community .table-view thead .thead-sub-title1 {
    height: 40px;
}

.community .table-view thead .thead-sub-title2 {
    height: 35px;
    text-align: right;
}

.community .table-view thead .thead-sub-title2 th {
    font-size: 0.9rem;
    font-weight: normal;
}


/* ---------------- CommunityList ----------------*/
.community {
    width: 100%;
    background: var(--bg-gray-color);
}

.community .body-normal {
    padding-top: 60px;
    background-color: #fff;
    margin-bottom: 0;
    border-left: 1px solid var(--input-border-color);
    border-right: 1px solid var(--input-border-color);
}

.community .btn-wrap {
    margin: 20px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.community .btn-wrap .community-login {
    display: flex;
}

.community .btn-wrap .community-login p {
    margin-top: 20px;
}

.community .search-form {
    padding: 0 20px 20px 20px;
    margin: 10px 10px 0 0;
    border-bottom: 1px solid var(--input-border-color);
}

.community-list {
    height: 150px;
    padding: 20px 30px;
    border-bottom: 1px solid var(--input-border-color);
    position: relative;
    cursor: pointer;
}

.community-list:hover {
    background: var(--table-hover-color);
}

.community-header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    gap: 10px;
}

.community-header .community-title {
    font-weight: bold;
    margin-bottom: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.community-header .community-writer{
    flex-shrink: 0;
}

.community-content {
    height: 60px;
    padding: 7px 0;
    font-size: 0.9rem;
    color: var(--font-gray-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: initial;
}

.community-footer {
    font-size: 0.8rem;
    color: var(--font-gray-color);
    display: flex;
}

.community-footer li {
    margin: 0 10px;
}

.community-image {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.community-date {
    font-size: 0.9rem;
    color: var(--font-gray-color);
    position: absolute;
    right: 20px;
    bottom: 23px;
}


/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 768px) {
    .community-container {
        width: 100%;
        padding: 0;
    }

    .community-list {
    }
}


/*------------------- 화면 크기가 480px 이하 (모바일 화면) -------------------*/
@media (max-width: 480px) {
}





