/*-------------------- PlanAdd --------------------*/
.plan-form {
    background: var(--bg-gray-color);
    margin: 0 auto;
}

.plan-form .body-normal {
    margin-top: -5px;
}

.plan-container {
    padding: 20px;
}

.plan-form .btn-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.plan-form .input-design-wrap {
    position: relative;
    margin: 40px 0;
}

.plan-form .input-design-wrap input {
    border: none;
    border-bottom: 1px solid var(--input-border-color);
    padding: 20px 10px;
    position: relative;
    background: none;
    z-index: 5;
    border-radius: 0;
    height: 30px;
}

.plan-form .input-design-wrap input:focus {
    outline: none;
}

.plan-form .input-design-wrap label {
    position: absolute;
    color: var(--font-gray-color);
    left: 10px;
    bottom: 0;
    transition: all .2s;
}

.plan-form .input-design-wrap input:focus ~ label,
.plan-form .input-design-wrap input:valid ~ label {
    bottom: 30px;
}

.plan-form .input-design-wrap input:focus ~ span,
.plan-form .input-design-wrap input:valid ~ span {
    width: 100%;
}

.plan-form .input-design-wrap span {
    position: absolute;
    bottom: 0;
    left: 0%;
    background: var(--font-gray-color);
    width: 0;
    height: 2px;
    transition: 0.5s;
}

.plan-form .plan input {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px 10px;
    height: 50px;
}

.plan-form .plan input:focus ~ label,
.plan-form .plan input:valid ~ label {
    bottom: 40px;
}

.plan-form .schedule input {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 27px 10px;
    height: 40px;
    color: var(--font-dark-blue-color);
}

.plan-form .schedule input:focus ~ label,
.plan-form .schedule input:valid ~ label {
    bottom: 36px;
}

.plan-head .plan-head-info {
    display: flex;
    gap: 10px;
    width: 100%;
}


.plan-head .plan-head-info li:first-child {
    width: 50%;
}

.plan-body .input-design-wrap {
    margin: 20px 0;
}

.plan-body {
    margin: 20px;
}

.plan-body .plan-body-box {
    border-top: 1px dashed var(--font-light-gray-color);
    border-bottom: 1px dashed var(--font-light-gray-color);
    background: #fff;
    padding: 30px;
}

.plan-body .date-time-wrap {
    display: flex;
    gap: 10px;
    width: 100%;
}

.plan-body .place-label label {
    bottom: 357px;
}

.plan-body .place-label input {
    border: 0;
}

.plan-body .memo-label {
    color: var(--font-gray-color);
}

.plan-body .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan-body .btn-wrap .plan-handle-btn {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid var(--table-border-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

/*-------------------- PlanList -------------------*/
.plan-wide {
    min-height: 100vh;
}

.plan-list-wrap {
    margin: 70px 0 0 30px;
    width: 100%;
    flex: 1;
}

/*-------------------- PlanView --------------------*/
.plan-view {
    width: 100%;
    margin: 0 auto;
    background: var(--bg-gray-color);
    min-height: calc(100vh - 140px);
}

.plan-view-container {
    width: 1000px;
    margin: 50px auto;
    position: relative;
}

.plan-view-header .plan-view-title {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: var(--btn-normal-dark);
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
}

.plan-view-header .plan-view-title h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    text-align: left;
    color: #fff;
}

.plan-view-header .plan-view-title h4 {
    margin-left: 10px;
}

.plan-view-header .plan-view-title ul {
    text-align: right;
    margin: 10px;
}

.plan-view-table {
    width: 100%;
    margin: 30px 0;
}


.plan-view-table caption {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px 20px 10px 20px;
    text-align: left;
    color: var(--main-orange);
}

.plan-view-table .table-group {
    width: 100%;
    border-top: 1px dashed var(--font-light-gray-color);
    border-bottom: 1px dashed var(--font-light-gray-color);
    background: #fff;
    padding: 30px;
}

.plan-view-table thead .table-group-date th {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    color: var(--font-dark-blue-color);
}

.plan-view-table thead .table-group-header th {
    padding: 10px;
    font-weight: bold;
}

.data-row td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--table-border-color);
}

.data-row:last-child td {
    border-bottom: none;
}

.plan-view-map {
    width: 100%;
}


/* -------------------------- card design --------------------------- */
.card-wrap {
    width: 90%;
    height: 180px;
    margin: 30px 0;
    border: 1px solid var(--table-border-color);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    position: relative;
}

.card-wrap:hover {
    background: var(--bg-gray-color);
    box-shadow: var(--box-shadow-hover);
}

.card-wrap:hover .card-header p {
    background: #f1f0f0;
}

.card-wrap .card-header p {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 13px 25px;
    background: var(--bg-gray-color);
    border-radius: 10px 10px 0 0;
}

.card-wrap .card-header .pinned {
    position: absolute;
    top: 5px;
    right: 0;
}

.card-wrap .card-body {
    margin: 15px 25px 10px 25px;
    height: 60px;
    font-size: 0.9rem;
}

.card-wrap .card-footer {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--font-gray-color);
    margin-left: 30px;
}


/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 1200px) {
    .plan-wide .calendar-list {
        width: 100%;
    }

    .plan-wide .calendar {
        display: none;
    }

    .plan-view-container {
        width: 100%;
    }

    .plan-wide .day-list {
        left: 0;
        width: 100%;
    }

    .plan-wide .day-list {
        left: 0;
        width: 100%;
    }

    .plan-list-wrap {
        margin: 0;
        padding: 30px;
    }

    .plan-wide .card-wrap {
        width: 100%;
    }

}

/*------------------- 화면 크기가 480px 이하 (모바일 화면) -------------------*/
@media (max-width: 720px) {
}