@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

/*
font-family: "Noto Sans", sans-serif;
font-family: "Playwrite HR Lijeva", cursive;
font-family: "Playfair Display", serif;
font-family: "Platypi", serif;
font-family: "Oswald", serif;
font-family: "Josefin Sans", serif;
font-family: "Inter", serif;
*/

:root {
    --main-bg-gradient: linear-gradient(90deg, #0072ff, #a044ff);
    --main-purple: #a044ff;
    --main-blue: #0072ff;
    --blue-purple-gradient: linear-gradient(90deg, #0072ff, #a044ff);
    --deep-blue-gradient: linear-gradient(90deg, #1e3c72, #2a5298);
    --purple-skyblue-gradient: linear-gradient(90deg, #7f7fd5, #86a8e7, #91eae4);
    --skyblue-blue-gradient: linear-gradient(90deg, #56ccf2, #2f80ed);
    --blue-skyblue-gradient: linear-gradient(90deg, #5b86e5, #36d1dc);
    --golden-yellow: #f4a261;

    --table-header-color: #f7f7f7;
    --table-border-color: #eee;
    --table-hover-color: #f9f9f9;

    --btn-normal-dark: #212529;
    --btn-normal-light: #fff;
    --btn-normal-info: #727373;
    --btn-normal-hover: #424649;
    --btn-normal-hover-border: #373b3e;

    --btn-warning-dark: #dc3545;
    --btn-warning-light: #fff;
    --btn-warning-hover: #bb2d3b;
    --btn-warning-hover-border: #b02a37;

    --bg-gray-color: #f9f9f9;
    --bg-light-blue-color: #f2faff;
    --bg-dark-blue-color: #0a223f;

    --font-gray-color: #787878;
    --font-light-gray-color: #dcdcdc;
    --font-red-color: #ef4444;
    --font-dark-blue-color: #0e4487;

    --small-font-size: 14px;
    --normal-font-size: 16px;

    --box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
    --box-shadow-hover: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body, section, a, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    display: block;
}

fieldset {
    border: 0;
}

legend {
    margin: 10px auto;
    font-size: 2em;
    font-weight: bold;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 5px;
}

input[type=text],
input[type=date],
input[type=time],
input[type=number],
input[type=tel],
input[type=email],
input[type=password] {
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}

input[type=search] {
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    cursor: pointer;
    accent-color: var(--btn-normal-dark);
}

textarea {
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    padding: 10px;
}

select {
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    margin-right: 5px;
    outline: none;
    width: 140px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.body-wide {
    width: 1000px;
    margin: 40px auto;
    position: relative;
}

.body-normal {
    width: 800px;
    margin: 40px auto;
    position: relative;
}

.body-narrow {
    width: 400px;
    margin: 40px auto;
    position: relative;
}

.pointer {
    cursor: pointer;
}

.bg-gray {
    background: var(--bg-gray-color);
}

.position-fixed {
    position: fixed;
    width: 900px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.font-bold {
    font-weight: bold;
}


form .required {
    color: var(--font-red-color);
    font-size: 0.8rem;
    margin-left: 7px;
}


/*------------------- breadcrumb design -------------------*/
.breadcrumb-wrap {
    width: 100%;
    position: fixed;
    top: 65px;
    height: 35px;
    padding-top: 5px;
    z-index: 50;
    background: #fff;
    border: 1px solid var(--table-border-color);
}

.breadcrumb-wrap ol {
    display: flex;
    margin: 0 auto;
}

.breadcrumb-wrap ol li {
    margin: 0 10px;
    cursor: pointer;
    color: var(--font-gray-color);
    font-size: 0.9rem;
}

.breadcrumb-wrap ol li.on {
    font-weight: bold;
    color: #000;
}

.breadcrumb-wrap ol li:hover {
    text-decoration-line: underline;
}

.breadcrumb-wrap .icon {
    margin: 3px 0 0 10px;
}

/*------------------- button design -------------------*/
.btn-wrap {
    display: flex;
    justify-content: left;
}

.btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    min-width: 70px;
}

.btn-wide {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
}

.btn-search {
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    padding: 8px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-left: -5px;
    vertical-align: top;
    min-width: 60px;
}

.btn-dark {
    background: var(--btn-normal-dark);
    color: var(--btn-normal-light);
    border: 1px solid var(--btn-normal-dark);
    box-sizing: border-box;
}

.btn-dark:hover {
    background: var(--btn-normal-hover);
}

.btn-dark-outline {
    background: var(--btn-normal-light);
    border: 1px solid var(--font-gray-color);
    box-sizing: border-box;
}

.btn-dark-outline:hover {
    background: var(--btn-normal-dark);
    color: var(--btn-normal-light);
}

.btn-warning {
    background: var(--btn-warning-dark);
    color: var(--btn-normal-light);
    border: 1px solid var(--btn-warning-dark);
    box-sizing: border-box;
}

.btn-warning:hover {
    background: var(--btn-warning-hover);
}

.btn-blue {
    background: var(--main-blue);
    color: var(--btn-normal-light);
    box-sizing: border-box;
}

.btn-blue:hover {
    background: #1668d6;
}

/*------------------- modal design -------------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    float: right;
}

.modal-body {
    margin: 30px;
    text-align: center;
}

.modal-body .modal-input {
    margin-top: 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-footer button {
    margin-left: 10px;
}

/* -------------------------- table design --------------------------- */

.table-list {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.table-list caption {
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

.table-list thead tr {
    height: 50px;
    border-top: 1px solid #000;
    background: var(--table-header-color);
    border-bottom: 1px solid var(--table-border-color);
}

.table-list thead th {
    font-weight: bold
}

.table-list tbody tr {
    cursor: pointer;
    height: 40px;
}

.table-list tbody tr td {
    border-bottom: 1px solid var(--table-border-color);
}

.table-list tbody tr:last-child {
    border-bottom: none;
}

.table-list tbody tr:hover {
    background: var(--table-hover-color);
}

.table-list tbody tr td {
    padding: 5px 10px;
}

.table-list tfoot tr {
    height: 50px;
    background: var(--table-header-color);
    border-bottom: 1px solid #000;
}

.table-list tfoot th {
    font-weight: bold
}

.table-view {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.table-view caption {
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}

.table-view thead tr {
    height: 50px;
    border-top: 1px solid #000;
    background: var(--table-header-color);
    border-bottom: 1px solid var(--table-border-color);
}

.table-view thead th {
    font-weight: bold;
}

.table-view tbody tr td {
    border-bottom: 1px solid var(--table-border-color);
}

.table-view tbody tr:last-child {
    border-bottom: none;
}

.table-view tbody tr td {
    padding: 5px 10px;
}

.table-view tbody .tbody-content {
    padding: 30px;
    height: 400px;
}

/*------------------- pagination -------------------*/
.pagination {
    width: 100%;
    margin: 30px;
    bottom: 0;
}

/*------------------- search form -------------------*/
.search-form {
    width: 100%;
    display: flex;
    margin: 10px;
}

.search-form-input {
    width: 100%;
    margin-left: 10px;
}

.search-form-input input {
    width: calc(100% - 110px);
}

/*------------------- empty list -------------------*/
.empty-container {
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

.empty-container-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 100px;
}

.empty-container-title {
    margin: 20px 0 5px 0;
    font-weight: bold;
    font-size: 1.1rem;
}

.empty-container-description {
    margin-top: 5px;
    font-size: 0.9rem;
    color: var(--font-gray-color);
}

/*------------------- react-calendar -------------------*/
.calendar-list {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

.calendar {
    width: 500px;
    position: fixed;
    top: 100px;
    padding: 30px;
    height: 100vh;
    background: var(--bg-gray-color);
    z-index: 10;
    border-left: 1px solid var(--table-border-color);
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
}

.day-list {
    position: absolute;
    left: 500px;
    width: calc(100% - 530px);
    border-right: 1px solid var(--table-border-color);
}


.fixed-list-head-wrap {
    position: sticky;
    top: 100px;
    padding: 20px 20px 20px;
    width: 100%;
    z-index: 1;
    background: #fff;
    border-bottom: 1px solid var(--table-border-color);
}

/* react-calendar */
.react-calendar {
    width: 480px !important;
    padding: 20px 10px;
    max-width: 100%;
    line-height: 1rem;
    border-radius: 10px;
    border: 1px solid var(--table-border-color) !important;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

/* 년-월 */
.react-calendar__navigation__label > span {
    font-size: 1.2rem;
    font-weight: bold;
    font-weight: bold;
}

.react-calendar__navigation {
    margin: 10px;
}

/* 년-월 이전/다음 버튼 */
.react-calendar__navigation button {
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background: none !important;
}

/* 전체 일 */
.react-calendar__month-view {
}

/* 요일 (월 ~ 일) */
.react-calendar__month-view__weekdays {
}

.react-calendar__month-view__weekdays__weekday {
    font-weight: bold;
    font-size: 0.95rem;
}

/* 주말 */
.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}

/* 날짜 타일 한개 */
.react-calendar__tile {
    width: 55px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    border-radius: 50%;
}

.react-calendar__tile--active {
    color: #fff;
    font-weight: bold;
}

.react-calendar__tile--active .calendar-badge {
    color: #000;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
    background: none !important;
    border-radius: 50%;
    border: 1px solid var(--font-light-gray-color) !important;
}

/*.react-calendar__tile--now::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 8px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    width: 6px;*/
/*    height: 6px;*/
/*    background-color: var(--btn-normal-dark);*/
/*    border-radius: 50%;*/
/*}*/

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
}

/* 선택된 날짜의 배경색 변경 */
.react-calendar__tile--active {
    background-color: var(--btn-normal-dark) !important;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}

/* 표시 점 */
.dot {
    height: 8px;
    width: 8px;
    background-color: #51F8C4;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
}

/* 표시 뱃지 */
.calendar-badge {
    width: 120%;
    background: var(--bg-gray-color);
    border-radius: 5px;
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    padding: 0 2px;
    color: #000;
}

/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 768px) {
    .body-wide,
    .body-normal,
    .body-narrow {
        width: 80%;
        display: block;
    }

    .calendar {
        display: none;
    }

    .day-list {
        margin-left: 0;
        width: 80%;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);


    }

}

/*------------------- 화면 크기가 480px 이하 (모바일 화면) -------------------*/
@media (max-width: 480px) {
    .body-wide,
    .body-normal,
    .body-narrow {
        width: 95%
    }

    .day-list {
        width: 95%
    }

}