/* Navbar 기본 스타일 */
.navbar {
    background: var(--main-bg-gradient);
    position: fixed;
    width: 100%;
    height: 65px;
    z-index: 100;
    color: #fff;
    box-shadow: var(--box-shadow);
}

/* Navbar 로고 */
.navbar .logo {
    position: absolute;
    top: 7px;
    left: 20px;
    cursor: pointer;
    width: 200px;
    height: 45px;
    margin: 0;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-family: "Playwrite HR Lijeva", cursive;
}

/* Navbar 컨테이너 */
.navbar .nav-container {
    position: absolute;
    top: 10px;
    left: 250px;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.navbar .nav-container ul {
    display: flex;
    justify-content: space-evenly;
}

.navbar .nav-container ul li {
    cursor: pointer;
    margin: 10px 25px;
}

.navbar .nav-container li:hover {
    font-weight: bold;
}

.navbar .nav-container .active {
    font-weight: bold;
}

/* 사용자 정보 스타일 */
.navbar .user-info {
    position: absolute;
    top: 20px;
    right: 160px;
}

.navbar .user-info .user {
    font-weight: bold;
}

.navbar .user-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    background: #fff;
    color: var(--main-purple);
    width: 130px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid var(--table-border-color);
    box-shadow: var(--box-shadow);
}

/* 드롭다운 스타일 */
.navbar .mypage-toggle-container {
    position: absolute;
    top: 65px;
    right: 10px;
    width: 130px;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 1px solid var(--table-border-color);
    z-index: 1000;
}

.navbar .mypage-toggle-container li {
    margin: 10px;
    height: 30px;
    line-height: 30px;
}

.navbar .mypage-toggle-container li:hover {
    font-weight: bold;
}

.mobile-user-container {
    display: none;
}

/* 햄버거 메뉴 */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    right: 15px;
    top: 12px;
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .navbar .nav-container {
        display: none;
        position: relative;
        width: 180px;
        height: 500px;
        top: 65px;
        right: -180px;
        align-items: center;
        color: #000;
        background: green;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar .nav-container.show {
        display: flex;
        transform: translateX(0);
    }

    .navbar .nav-container ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar .nav-container ul li {
        margin: 10px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    .navbar .user-info {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .navbar .user-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .mobile-user-container {
        display: block;
    }

    .pc-user-container {
        display: none;
    }
}
