.faq {
    margin-top: 60px;
}

.faq .btn-wrap {
    display: flex;
    justify-content: space-between;
}

.faq .search-form {
    margin-top: 20px;
}

.faq .table-list tbody tr td:first-child {
    font-size: 0.8rem;
}

.faq .table-list tr td:nth-child(2) {
    text-align: left;
}

@media (max-width: 768px) {
    .faq .table-list th:nth-child(1),
    .faq .table-list th:nth-child(3),
    .faq .table-list td:nth-child(1),
    .faq .table-list td:nth-child(3) {
        display: none;
    }
}
