.inquiry-answer {
    padding: 10px;
    margin-top: 0;
}

.inquiry-answer .answer-list {
    margin: 30px 0;
    padding: 20px;
    background: var(--bg-gray-color);
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--font-light-gray-color);
}

.inquiry-answer .answer-list .answer-btn-wrap {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
}

.inquiry-answer .answer-list .answer-btn-wrap li {
    cursor: pointer;
    margin: 5px;
    font-size: 0.9rem;
    padding: 0 5px;
}


.inquiry-answer .answer-list .answer-list-body .nickname {
    font-weight: bold;
}

.inquiry-answer .answer-list .answer-list-body .content {
    margin: 15px 0;
}

.inquiry-answer .answer-list .answer-list-body .date {
    font-size: 0.9rem;
    color: var(--font-gray-color);
}
