.cs {
    margin-top: 40px;
}

.cs .breadcrumb-wrap ol {
    width: 1000px;
}

.cs .body-normal {
    width: 1000px;
    margin: 0 auto;
}

.cs section {
    margin: 50px 0;
    position: relative;
    width: 100%;
    padding: 50px 0;
}

.cs section h3 {
    font-weight: bold;
    font-size: 30px;
}

.cs section .more-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

/*------------------- 자주 하는 질문 -------------------*/

.cs .faq-container {
    margin: 30px auto;
}

.cs .faq-container ul {
    margin: 20px 0;
}

.cs .faq-container ul li {
    font-size: 1.2rem;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid var(--table-border-color);
    cursor: pointer;
}

.cs .faq-container ul li:last-child {
    border-bottom: none;
}

/*------------------- 문의 게시판 -------------------*/

.cs .cs-wrap {
    background: var(--bg-gray-color);
}

.cs .cs-wrap h3 {
    text-align: center;
}

.cs .cs-wrap .body-normal {
    display: flex;
    width: 1000px;
    height: 465px;
}

.cs .cs-wrap .inquiry-container {
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.cs .cs-wrap .inquiry-container h3 {
    margin-bottom: 30px;
}

.cs .cs-wrap .inquiry-container ul {
    margin: 0 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.cs .cs-wrap .inquiry-container ul li {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.cs .cs-wrap .inquiry-container ul .secret .icon {
    margin-right: 5px;
    margin-top: 11px
}

.cs .cs-wrap .inquiry-container ul .date {
    font-size: 0.9rem;
    color: var(--font-gray-color);
}

/*------------------- 고객센터 -------------------*/

.cs .cs-wrap .tel-container h5 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-blue);
}

.cs .cs-wrap .tel-container ul {
    margin: 45px 100px;
}

.cs .cs-wrap .tel-container ul li {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 10px 0;
}

.cs .cs-wrap .tel-container ul li:last-child {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 20px 0;
}

/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 768px) {

}

/*------------------- 화면 크기가 480px 이하 (모바일 화면) -------------------*/
@media (max-width: 480px) {

}

