/*------------------- NoticeView -------------------*/
.notice {
    width: 100%;
    margin-top: 60px;
    min-height: calc(100vh - 200px);
}

.notice .btn-wrap {
    display: flex;
    justify-content: space-between;
}

.notice .like-wrap ul {
    display: flex;
    justify-content: end;
    margin: 10px 20px;
    font-size: 1.3rem;
}

.notice .like-wrap ul .icon {
    margin-right: 5px;
    cursor: pointer;
}

.notice .table-view thead .thead-sub-title1 {
    height: 35px;
}

.notice .table-view thead .thead-sub-title2 {
    height: 30px;
    text-align: right;
    background: none;
}

.notice .table-view thead .thead-sub-title2 th {
    font-size: 0.9rem;
    font-weight: normal;
}

.notice .table-view tr td {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.notice .table-view .title {
    padding: 10px;
}

.notice .table-view .writer {
    text-align: left;
    padding-left: 15px;
    font-size: 0.9rem;
}

.notice .table-view .date {
    text-align: right;
    padding-right: 15px;
    font-size: 0.9rem;
}

.notice .table-view .views {
    text-align: right;
    padding-right: 15px;
}

/*------------------- NoticeWrite, NoticeEdit -------------------*/

.notice-form {
    width: 100%;
    padding-top: 60px;
    min-height: calc(100vh - 230px);
}

.notice-form .btn-wrap {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}

/*------------------- NoticeList -------------------*/

.notice .notice-search {
    margin: 30px 0 30px 0;
}

.notice .table-list tr td {
    padding: 10px;
}

.notice .table-list tbody td .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.notice .table-list tbody td .info {
    margin-top: 8px;
    font-size: 0.9em;
    color: var(--font-gray-color);
    display: flex;
    gap: 15px;
}

.notice .table-list tbody td .info span {
    display: flex;
    align-items: center; /* 아이콘과 텍스트 정렬 */
}

.notice .table-list tbody .writer {
    width: 150px;
    font-weight: bold;
}

.notice .table-list tbody td:nth-child(3) {
    width: 100px;
}


/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 768px) {
    .notice .table-list th:nth-child(2),
    .notice .table-list td:nth-child(2) {
        display: none;
    }
}