.main-search-wrap {
    width: 500px;
    margin: 50px auto;
    display: flex;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 50px;
    height: 60px;
    padding: 0 20px;
}

.main-search-wrap input[type=search] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 0;
    height: 60px;
    padding: 0 10px;
    background: none;
}

.main-search-wrap input[type=search]:focus {
    outline: none;
}

.main-search-wrap .main-search-wrap-btn {
    cursor: pointer;
    margin: 20px;
}

.main-section-wrap {
    width: 1000px;
    height: 310px;
    margin: 50px auto;
    box-sizing: border-box;
}

.main-section-wrap .section-header {
    display: flex;
    height: 70px;
}

.main-section-wrap .section-header h2 {
    margin: 20px auto;
    font-weight: bold;
    font-size: 25px;
}

.main-section-wrap .section-header .more-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--font-gray-color);
}

.main-section-wrap .section-body .section-body-card {
    display: flex;
    justify-content: space-between;
}

.main-section-wrap .section-body .section-body-card > li {
    height: 230px;
    margin: 10px;
    padding: 23px;
    border: 1px solid var(--table-border-color);
    box-sizing: border-box;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
}

.main-section-wrap .section-body .section-body-card h3 {
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: initial;
}

/*------------------- section -------------------*/
.main-section-wrap .section-body .section-body-card .list-item .description {
    height: 88px;
    color: var(--font-gray-color);
    margin: 15px 10px 10px 10px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: initial;
    font-size: 0.9rem;
}

.main-section-wrap .section-body .section-body-card .list-item .location {
    font-weight: bold;
    font-size: 0.9rem;
}

.main-section-wrap .section-body .section-body-card .list-item .period,
.main-section-wrap .section-body .section-body-card .list-item .price {
    font-weight: bold;
    font-size: 0.9rem;

}

/*------------------- 광고 슬라이드 -------------------*/
.ad {
    width: 1000px;
    height: 250px;
    margin: 100px auto;
    border: 1px solid red;
}


/*------------------- divided section -------------------*/
.divided-section {
    background: var(--bg-gray-color);
}

.divided-section .main-section-wrap {
    display: flex;
    height: 400px;
    background: var(--bg-gray-color);
    padding: 50px 0;
}

/*------------------- 고객센터 -------------------*/
.tel-container {
    width: 400px;
    margin-top: 50px;
}

.divided-section .tel-container h3 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.divided-section .tel-container h5 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-blue);
}

.divided-section .tel-container ul {
    margin: 45px 100px;
}

.divided-section .tel-container ul li {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

/*------------------- 커뮤니티 -------------------*/
.divided-section .notice-section-wrap {
    width: calc(100% - 400px);;
    border: 1px solid var(--table-border-color);
    border-radius: 15px;
    background: #fff;
}

.notice-section-wrap .notice-section-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid var(--table-border-color);
}

.notice-section-wrap .notice-section-header .link-box {
    margin-top: 16px;
    font-size: 0.9rem;
    color: var(--font-gray-color);
}

.notice-section-wrap .notice-section-body {
    padding: 20px 40px;
}

.notice-section-wrap .notice-section-body .notice-section-list {
    display: flex;
    justify-content: space-between;
}

.notice-section-wrap .notice-section-body .notice-section-list li {
    margin: 6px 0;
    cursor: pointer;
}


/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 768px) {
    .main-section-wrap {
        width: 80%;
        height: auto
    }

    .main-section-wrap .section-body .section-body-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main-section-wrap .section-body .section-body-list li {
        width: 100%;
    }

    .ad {
        width: 80%;
    }
}

/*------------------- 화면 크기가 480px 이하 (모바일 화면) -------------------*/
@media (max-width: 480px) {
    .main-section-wrap {
        width: 95%;
    }

    .ad {
        width: 95%;
    }
}


