.section-search {
    margin: 30px 0;
}

section {
    width: 100%;
    height: 310px;
    margin: 50px 0;
    box-sizing: border-box;
}

section .section-header {
    display: flex;
    height: 70px;
}

section .section-header h2 {
    margin: 20px auto;
    font-weight: bold;
    font-size: 25px;
}

section .section-header .more-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--font-gray-color);
}

section .section-body .section-body-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

section .section-body .section-body-list > li {
    height: 230px;
    margin: 10px;
    padding: 23px;
    border: 1px solid var(--table-border-color);
    box-sizing: border-box;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
    flex: auto;
}

section .section-body .section-body-list h3 {
    font-weight: bold;
}

section .section-body .section-body-list .list-item {
    margin: 10px;
}

/* 내 여행 */
section .section-body .section-body-list .list-item .description {
    height: 88px;
    color: var(--font-gray-color);
    margin: 15px 0;
    overflow: hidden;
    text-overflow: initial;
    font-size: 0.9rem;
}

section .section-body .section-body-list .list-item .location {
    position: absolute;
    font-weight: bold;
    font-size: 0.9rem;
}

section .section-body .section-body-list .list-item .period {
    font-weight: bold;
    font-size: 0.9rem;
}


/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 768px) {
    section {
        height: auto
    }

    section .section-body .section-body-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    section .section-body .section-body-list li {
        width: 100%;
    }
}

/*------------------- 화면 크기가 480px 이하 (모바일 화면) -------------------*/
@media (max-width: 480px) {

}


