.main-search-wrap {
    width: 500px;
    margin: 50px auto;
    display: flex;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 50px;
    height: 60px;
    padding: 0 20px;
}

.main-search-wrap input[type=search] {
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-radius: 0;
    height: 60px;
    padding: 0 10px;
    background: none;
}

.main-search-wrap input[type=search]:focus {
    outline: none;
}

.main-search-wrap .main-search-wrap-btn {
    cursor: pointer;
    margin: 20px;
}

.main-section-wrap {
    width: 100%;
    height: 310px;
    margin: 50px 0;
    box-sizing: border-box;
}

.main-section-wrap .section-header {
    display: flex;
    height: 70px;
}

.main-section-wrap .section-header h2 {
    margin: 20px auto;
    font-weight: bold;
    font-size: 25px;
}

.main-section-wrap .section-header .more-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--font-gray-color);
}

.main-section-wrap .section-body .section-body-list {
    display: flex;
    justify-content: space-between;
}

.main-section-wrap .section-body .section-body-list > li {
    height: 230px;
    margin: 10px;
    padding: 23px;
    border: 1px solid var(--table-border-color);
    box-sizing: border-box;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
}

.main-section-wrap .section-body .section-body-list h3 {
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: initial;
}

/*------------------- section -------------------*/
.main-section-wrap .section-body .section-body-list .list-item .description {
    height: 88px;
    color: var(--font-gray-color);
    margin: 15px 10px 10px 10px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: initial;
    font-size: 0.9rem;
}

.main-section-wrap .section-body .section-body-list .list-item .location {
    font-weight: bold;
    font-size: 0.9rem;
}

.main-section-wrap .section-body .section-body-list .list-item .period,
.main-section-wrap .section-body .section-body-list .list-item .price {
    font-weight: bold;
    font-size: 0.9rem;

}


/*------------------- 화면 크기가 768px 이하 (태블릿 화면) -------------------*/
@media (max-width: 768px) {
    .main-section-wrap {
        height: auto
    }

    .main-section-wrap .section-body .section-body-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main-section-wrap .section-body .section-body-list li {
        width: 100%;
    }
}

/*------------------- 화면 크기가 480px 이하 (모바일 화면) -------------------*/
@media (max-width: 480px) {

}


